.betdetails {

}

#qrcode{
    display: inline-block;
}

.qr_container{
    text-align: center;
    width: 100%;
}

.addressLabel{
    text-align: center;
    font-weight: bold;
}

.header{
    text-align: center;
}
